@using TestChat.Models
@model TestChat.Models.Chat

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

@foreach (var item in Model.Messages.OrderBy(m => m.MessageDateTime))
{
    <div align="right" class="alert-info" style="border-bottom: brown">
        <div>
            @item.Author.Name<br />
            @item.MessageDateTime.ToLongTimeString()
        </div>
        <div align="left">
            @item.Text
        </div>
    </div>
    <div height="10px" class="alert-danger">
    </div>
} 

    @Html.ActionLink("Создать сообщение", string.Format("Create"), "Message",
    new {chatId = Model.ChatId, userGuid = User.Identity.Name}, null)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
